/*CSS for index.html*/
.box1{
    margin: auto;
    width: 60vw;
    height: 1900px;
    background-color: rgb(228, 190, 208);
    
}
body {
    background-image: url('blomster.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  h1{
      text-align: center;
      font-size: 5vw;
  }
  .knapp{
      margin-left: 5vw;
      width: 8vw;
      height: 3vw;
      background-color: blue;
      border: none;
  }
